* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    ::selection {
        user-select: none;
    }
}

h1 {
    text-align: center;
    color: #e04148;
}

.container {
    width: 500px;
    /* border: 2px solid; */
    background-color: #fff;
    box-shadow: 0 0 5px #bababa;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

.container-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container-content::before,
.container-content::after {
    content: "";
    width: 95%;
    height: 47%;
    background-color: #e01e48;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s;
    opacity: 0;
}

.container-content::before {
    top: -20%;
}

.container-content::after {
    bottom: -20%;
}

.container:hover .container-content::before {
    top: 3%;
    opacity: 0.8;
}

.container:hover .container-content::after {
    bottom: 3%;
    opacity: 0.8;
}

.content {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    text-align: center;
    transform: rotate(90deg);
    opacity: 0;
    transition: all 0.5s;
}

.container:hover .content {
    opacity: 1;
    transform: rotate(0deg);
}

.social {
    padding: 0;
    margin: 0 0 20px 0;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 10px;
}

.social li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    display: block;
    transition: all 0.3s;
}

.social li a:hover {
    color: #e01e48;
}

.name {
    color: #fff;
    font-size: 22px;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.post {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}